nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") yanxiong website
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 簡介 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="http://www.goldenpin.org.tw/%E9%87%91%E9%BB%9E%E6%96%B0%E7%A7%80%E8%A8%AD%E8%A8%88%E7%8D%8E/?y=2018" target="_blank") 設計作品 WORKS
header.jumbotron
 .container
   h1 Yanxiong website
   hr
   h4 NCYU DEDM
section#section_ask
  .container
    .row  
      .col-sm-5.img
      .col-sm-7
        h2 如何做一個好的設計?
section#section_about
  .container
    .row
      .col-sm-12
        h1 設計精神
        hr
      .col-sm-4
        img(src="https://digitalspirit.in/wp-content/uploads/2017/10/Graphic-Design.jpg", alt="")
        h3 設計意義
        p 計畫達成具實用價值或觀賞價值的人為事物。有效的「設計」是採用各種方法以獲得預期的結果，或免除不理想的呈現狹義的設計，則特別是指對外觀的要求，在實用、經濟的原則下做各種變化，用吸引人的外觀或流行的款式來增加銷售力，綜括上述所言，「設計」實具有清楚的目標計畫，是一種思考過程或步驟。
      .col-sm-4
        img(src="https://goo.gl/3CBQb6", alt="")
        h3 設計價值
        p 愛因斯坦說如果他有一小時的時間拯救世界，他會先花55分鐘定義問題，然後用剩下的5分鐘去拯救世界。但在台灣近功好利的文化之中，如果花時間90%的時間去定義問題，很容易被視為一種無產出的浪費。所以造成不少人忽略定義問題的重要，也不曉得解決問題需要一套思考框架。
      .col-sm-4
        img(src="https://goo.gl/xaQv4G", alt="")
        h3 設計存在
        p 我設計，所以我存在，而設計的核心，在於呈現空間的存在。雙生關係的光影，深刻影響著空間樣貌，從中萃取出一些語彙去表現空間設計。當你將人的生活置入空間裡，會在長時間的推移中逐漸發現設計師所佈局的構圖，就像是一個劇場的狀態，不斷的產生、消失、更變，觀賞者在其中也能細細品味文字消失後的詩意以及恢弘的空間感受！
section#section_video
  .container
    .row
      .col-sm-12
      h1 Design video
      hr
    .col-sm-12
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/ocReynMrkms?start=54' , allowfullscreen='' )
